#mensuales-dex, #mensuales-destacados {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

main {
  flex-grow: 1;
  padding: 1rem;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}


/* Grid de tarjetas*/
.mensuales-dex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 20px));
  row-gap: 1rem;
  column-gap: 20px;
  justify-content: center;
}

.mensuales-destacados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 20px));
  row-gap: 1rem;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

/* Tarjeta */

.shinycard {
  color: white;
  font-family: 'Retro';
  width: 150px;
  height: 180px;
  padding: 1rem;
  text-align: center;
  align-items: center;
  vertical-align: text-bottom;
  transition: background-color 0.3s ease;
  border-radius: 0.7rem;
  border-width: 6px 6px 6px 6px;
  border-style: solid;
  border-image-source: url("../img/Background/member_holder.png");
  border-image-slice: 6 6 6 6 fill;
  border-image-repeat: round;
}

.shinycard-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  object-fit: contain;
  display: block;
}

.shinycard-title {
  font-size: 1.5rem;
  font-weight: 200;
  bottom: 0;
  vertical-align: text-bottom;
  text-align: center;
  transform: translateY(-5px);
}

.shinycard-trainer {
  color: #ffffffb1;
  bottom: 10;
  vertical-align: text-bottom;
  text-align: center;
  transform: translateY(-5px);
}

.shinycard-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.user-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.user-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.2rem;
  object-fit: contain;
  display: block;
}

.top-text{
  color: #2a75bb;
  font-family: 'Retro';
  font-size: 24px;
}

.top-wrap {
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: center;
}
.top-capturer {
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 660px;
  align-self: center;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  border-width: 6px 6px 6px 6px;
  border-style: solid;
  border-image-source: url("../img/Background/member_holder.png");
  border-image-slice: 6 6 6 6 fill;
  border-image-repeat: round;
}
