/* Usado en todas las paginas */
@font-face {
  font-family: 'NiseSegaSonic';
  src: url('../fonts/NiseSegaSonic.TTF') format('truetype');
}
@font-face {
  font-family: 'Retro';
  src: url('../fonts/pokemon-ds-font.ttf') format('truetype');
}

html {
  overflow-y: scroll;
}

/* Fondo */
.background {
  background-image: url("../img/Background/background3.gif");
  background-color: #515151;
}

.main-content{
  border-width: 0px 4px 0px 4px;
  border-style: solid;
  border-color: #494949;
}

.main-content2{
  border-color: none;
}

/* Navbar*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  height: 100px;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;

  border-width: 15px 1px 15px 1px;
  border-style: solid;
  border-image-source: url("../img/NavBar/NavBar_Background.png");
  border-image-slice: 15 1 15 1 fill;
  border-image-repeat: round;
}

.topnav a {
  font-family: "Retro";
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color .3s ease, transform .3s ease;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  display: inline-flex;
  white-space: nowrap;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
  transform: translateY(10px);
}

.topnav a:hover {
  color: #fff;
  text-decoration: underline;
  transform: translateY(-5px);
}

.topnav a.active {
  color: #696969;
}

.topnav a.active:hover {
  color: #696969;
  text-decoration: none;
  transform: none;
}

.topnav::-webkit-scrollbar {
  height: 10px;
}

.topnav::-webkit-scrollbar-track {
  background: none;
}

.topnav::-webkit-scrollbar-thumb {
  background: none;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  border-image-source: url("../img/button/scrollbar_button.png");
  border-image-slice: 3 3 3 3 fill;
  border-image-repeat: round;
}

.topnav::-webkit-scrollbar-thumb:hover {
  filter: drop-shadow(5px 5px 5px #c3c3c3);
}


.flex-center {
  display: flex;
  align-items: center;
  gap: 8px;
}

.centrado-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1px;
}


.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;       
  justify-content: center;  
  margin-top: 25px;
}

.centrado img {
  margin-bottom: 20px;
}

.centrado h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.centrado p {
  font-size: 1.5rem;
}

.big-title {
  font-family: 'NiseSegaSonic';
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  margin-top: 0;
  margin-bottom: 0.01rem;
}

.big-title2 {
  font-family: 'Retro';
  color: white;
  margin-top: 0;
  margin-bottom: 0.01rem;
}

.big-title3 {
  font-family: 'Retro';
  color: white;
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 0.01rem;
  font-size: 20px;
}

.small-text {
  font-family: 'NiseSegaSonic';
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 12px;
}

.small-text-top {
  font-family: 'Retro';
  color: #2a75bb;
  font-size: 24px;
}

.modal-content ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.modal-content ::-webkit-scrollbar-track {
  background: none;
}

.modal-content ::-webkit-scrollbar-thumb {
  background: none;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  border-image-source: url("../img/button/scrollbar_button.png");
  border-image-slice: 3 3 3 3 fill;
  border-image-repeat: round;
}

.modal-content ::-webkit-scrollbar-thumb:hover {
  filter: drop-shadow(5px 5px 5px #c3c3c3);
}

.custom-checkbox input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url('../img/button/checkbox.png');
  background-size: cover;
  transition: background-image 0.3s ease;
}

.custom-checkbox input:checked + .checkmark {
  background-image: url('../img/button/checkbox_check.png');
}

.custom-checkbox:hover input:checked + .checkmark {
  background-image: url('../img/button/checkbox_hover_check.png');
}

.custom-checkbox:hover .checkmark {
  background-image: url('../img/button/checkbox_hover.png');
}


.lideres-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 20PX));
  row-gap: 1rem;
  column-gap: 20px;
  justify-content: center;
}

.lideres-wrapper {
  position: relative;
  width: 150px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

