.card-team-Navidad {
  background-image: url("../img/Cards/card-navidad.png") !important; 
}

.card-team-Halloween {
  background-image: url("../img/Cards/card-halloween.png") !important; 
}

.card-team-Nuevoyear {
  background-image: url("../img/Cards/card-lunar.png") !important; 
}

.card-remove-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #ff0000;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.participante-card:hover {
  background-image: url("../img/Cards/card_hover.png");

}